body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;

}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

.links a{
    text-decoration: none;
    padding: 0 12px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/milad-fakurian-dKd3p6gha-c-unsplash.jpg");
    height: 200px;
    width: 200px;
}